---
import Layout from "@/layouts/Layout.astro";
import Item from "@/components/forms/Item";
---

<Layout title="Pure Invoices">
  <h1 class="font-semibold opacity-50">current: add-client</h1>
  <div class="mx-auto max-w-screen-md">
    <Item client:only="react" />
  </div>
</Layout>
