---
import Layout from "@/layouts/Layout.astro";
import Invoice from "@/components/forms/Invoice";
---

<Layout title="Pure Invoices">
  <h1 class="font-semibold opacity-50">current: add-invoice</h1>
  <div class="mx-auto max-w-screen-md">
    <Invoice client:only="react" />
  </div>
</Layout>
