---
import { ViewTransitions } from "astro:transitions";
import Navbar from "@/components/Navbar.astro";
import "@/styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Pure Invoices. Simple, direct, and effective. Invoicing done right"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="fm-anderson" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <main transition:animate="fade" class="mx-8">
      <slot />
    </main>
  </body>
</html>
